.chip {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: max-content;
  border-radius: 20px;
  margin: 5px;
}

.chip-content {
  padding: 5px 15px;
}

.chip-close {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chip-link {
  cursor: pointer;
}

.is-blue {
  background-color: lightblue;
}

.is-pink {
  background-color: lightpink;
}

.is-green {
  background-color: lightgreen;
}
